body {
    overflow: hidden;
    padding: 0%;
    margin: 0%;
}

main{
    height: 100%;
    width: 100%;
}

nav {
    padding: 10px;
    border-bottom: 3px solid #ccc;
    margin-bottom: 60px;
}

.nombre {
    margin-bottom: 0%;
}

.nickname {
    margin-bottom: 0%;
    margin-top: 0%;
}

.contactos {
    margin-top: 5%;
    margin-bottom: 5%;
}

.quesoy1 {
    text-align: center;
}

.mencionables {
    margin-bottom: 5%;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.footer {
    color: rgba(0, 0, 0, 0.23);
}

.texto-mobile {
    display: none;
}
.fila{
    margin-top: 5%;
}

@media (max-width: 768px) {
    .nes-bcrikko {
        display: none;
    }

    .nes-balloon {
        display: none;
    }

    .texto-mobile {
        display: block;
        margin: auto;
    }

  body{
      overflow:scroll ;
  }
    .snes-jp-logo{
        display: none;
    }
    

}